################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/cef-ui/cef-ui.vcxproj.user
/.vs/cef-ui/CopilotIndices/17.14.1530.14912
/.vs/cef-ui/FileContentIndex
/cef-ui-tests/x64/*
/cef-ui-tests/cef-ui-tests.vcxproj.user
/cef-ui/x64/*
/x64/*

/cef-parallel/cef-ui.vcxproj.user
/.vs/cef-parallel/CopilotIndices/17.14.1530.14912
/.vs/cef-parallel/FileContentIndex
/cef-parallel/x64/*
cef-parallel/cef-parallel.vcxproj.user

/packages

.vs/*
/3rd-party/cef.runtime.win-x64.143.0.7499.170.nupkg
/cef-parallel/x64/Debug

# cef-java-bridge
cef-java-32/target/
cef-java-32/.idea/
cef-java-32/java-ui-bridge.iml
cef-java-32/.idea_modules/
cef-parallel/cef-parallel.vcxproj.user

# Ignore IDEA project files
/cef-java-32/.idea/*

# Java ignoered files
*.class
*.jar
*.war
*.ear
*.iml
*.ipr
*.iws
/out/
/build/
/target/
/.classpath
/.project
/.settings/
/.idea/
.DS_Store
*.log
*.tmp
*.swp
*.swo
